<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--<link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/index.css">-->
</head>
<body>
<div class="col-lg-12 col-md-12 col-xs-12 first_top">
    <span class="home glyphicon glyphicon-home"></span><span>当前位置</span><span>></span><span>通知公告</span>
</div>
<div class="col-lg-12 col-md-12 col-xs-12 first_body">
    <p class="body_title">相关新闻</p>
    <table class="body_table">
        <tr>
            <td>公告标题</td>
            <td>发布单位</td>
            <td>发布时间</td>
            <td>有效期限</td>
        </tr>
        <tr>
            <td><a href="#!/welcome">欢迎使用学生管理系统</a></td>
            <td>教务处</td>
            <td>2016-11-14 10:10:37</td>
            <td>2017-12-31</td>
        </tr>
    </table>
</div>
</body>
</html>