<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>培养计划</title>
</head>
<body>
<div class="col-lg-12 col-md-12 col-xs-12 first_top">
    <span class="home glyphicon glyphicon-home"></span><span>当前位置</span><span>></span><span>培养计划</span>
</div>
<div class="col-lg-12 col-md-12 col-xs-12 first_body">
    <p class="body_title">培养计划</p>
    <p class="plantext">四年制本科专业教学计划是学校按照四年正常学习年限组织安排专业教学进程和课程教学的重要文件，是同学进行选课的基本依据，学校将根据教学计划和教学情况，确定并公布每学期的实际开设课程。同学在导师的指导下，参照教学计划中课程的建议学习时间，在开设课程范围内自主选择。</p>
    <p class="plantext">教学计划总体框架和有关要求如下：</p>
    <p class="plantext">教学计划由通识教育基础、学科基础、专业与专业前沿、综合实践和实践教学五部分组成，前两部分课程中有必修和选修课程之分，第三部分课程全为选修，第四、五部分全为必修课程。必修课程指学生必须修读的课程，因课程有前修和后续的关系，要求同学在教学计划规定的学期内修读；选修课程指同学可以自主选读的课程。同学可以在各类选修课程中有目的地选课修读，但各类选修课要修满本专业教学计划规定的学分数。
        学生必须修满所在专业教学计划中规定的总学分数及各类别课程的规定学分后才能顺利毕业，不同类别课程的学分不能互相抵冲。</p>
    <p class="plantext">“通识教育”课程包括政治法律、语言文字、自然科学、技术科学（计算机基础）、军事体育和人文素质等六方面课程的学习与实践。除完成必修课程的学分外，还应修满大学英语类、计算机类、文化素质类、体育类等类别的选修课程学分。每类课程必须达到最低修读学分要求。</p>
    <p class="plantext">“学科基础”按一级和二级学科设置课程和实践环节，进行宽口径专业教育。学科基础必修课为学科大类或专业大类的公共课，学科基础选修课为各专业的专业基础课。学科基础课程除取得各门必修课程的学分外，还应修满要求的选修课学分数，选修课程可以选修本专业的“学科基础”选修课程，也可以选修其他专业的学科基础课程（包括必修和选修课），称为其它学科基础课程。同学应在导师的指导下根据自己的专业发展目标，作好选修课程计划，既要掌握本专业的基础理论又要考虑学科交叉，知识复合，拓展基础。</p>
    <p class="plantext">“专业与专业前沿”课程是专业课，按专业方向灵活设置。同学可以根据自己的专业发展目标和毕业论文、毕业设计研究方向，在导师指导下自主选修本专业方向系列课程，但应修满最低要求学分数，学有余力可多选课程，以掌握更多专业知识。</p>
    <p class="plantext">“综合实践”包括学术讲座、课外科技活动、军训、社会实践等课程，军训由学校统一安排，其它课程由学生课外自主完成。</p>
    <p class="plantext">“实践教学”包括生产实习、工程训练、课程设计、毕业设计等实践环节课程，学生应修满教学计划规定课程的所有学分。</p>
    <p class="plantext">每学期同学可随时通过选课系统网页的“公共查询”栏目查阅全校各专业的学分制教学计划和课程说明。依据社会发展需求与培养目标调整和学科发展情况，学校对学分制教学计划可进行必要的微调，最终教学安排以执行计划为准。</p>
</div>
</body>
</html>