<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学校教学安排</title>
</head>
<body>
<div class="col-lg-12 col-md-12 col-xs-12 first_top">
    <span class="home glyphicon glyphicon-home"></span><span>当前位置</span><span>></span><span>教务信息</span>
</div>
<div class="col-lg-12 col-md-12 col-xs-12 first_body">
    <p class="body_title">教务信息</p>
    <table class="body_table">
        <tr>
            <td>信息</td>
            <td>发布单位</td>
            <td>发布时间</td>
            <td>有效期限</td>
        </tr>
        <tr>
            <td>xxxx会议</td>
            <td>教务处</td>
            <td>2016-11-14 10:10:37</td>
            <td>2017-12-31</td>
        </tr>
        <tr>
            <td>xxx活动</td>
            <td>教务处</td>
            <td>2016-11-14 10:10:37</td>
            <td>2017-12-31</td>
        </tr>
        <tr>
            <td>某某会议</td>
            <td>教务处</td>
            <td>2016-11-14 10:10:37</td>
            <td>2017-12-31</td>
        </tr>
        <tr>
            <td>某某活动</td>
            <td>教务处</td>
            <td>2016-11-14 10:10:37</td>
            <td>2017-12-31</td>
        </tr>
    </table>
</div>
</body>
</html>